.homepage-user-container {
    position: relative;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    font-size: 1rem;
    margin-right: 10px;
    color: #333;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.link-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
}

.link-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.link {
    display: block;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #007bff; /* Add border to link */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.link:hover {
    background-color: #0056b3;
}

.link-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}